@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-font: var(--font-colour);
  --color-font-secondary: var(--font-colour-secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arapey: var(--font-arapey); 
  --font-arapey_italic: var(--font-arapey_italic);
  --font-cormorant: var(--font-cormorant);
  --font-raleway: var(--font-raleway);  /* Add if needed */
  --font-questrial: var(--font-questrial);  /* Add if needed */
  --font-bodoni: var(--font-bodoni);  /* Add if needed */
  --font-nunito: var(--font-nunito);
  --font-work: var(--font-work);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* #c3c5c4 */
/* #888789 */
/* #B4AEA2 */
/* #4c4844 */

:root {
  --radius: 0.625rem;
  --background: #f8f7f2; 
  --foreground: #505457;
  --font-colour: #2d2926;
  --font-colour-secondary: #f8f7f2;
  --primary: #c3c5c4;
  --primary-hover: #b9bcba;
  --primary-foreground: #888789;
  --accent: #d17a22;
  --accent-hover: oklch(0.22 0.007 34.298);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-hover: oklch(0.22 0.007 34.298);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: rgb(30, 30, 30); 
  --foreground: #505457;
  --font-colour: #fdf2e6;
  --font-colour-secondary: #f8f7f2;
  --primary: #c3c5c4;
  --primary-hover: oklch(0.85 0.003 48.717);
  --primary-foreground: #888789;
  --accent: #d17a22;
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
  --secondary-hover: oklch(0.22 0.007 34.298);
  --primary-hover: oklch(0.85 0.003 48.717);
  --accent-hover: oklch(0.22 0.007 34.298);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-primary-foreground;
    /* font-family: var(--font-cormorant), Arial; Updated to use Cormorant for body text */
  }

  .btn {
    @apply transition-all duration-300 ease-in-out rounded-none text-foreground hover:scale-105;
    background-color: var(--primary);
  }
  
  .btn:hover {
    @apply shadow-md rounded-full;
    background-color: var(--primary-hover);
  }
  
  .btn-primary {
    @apply transition-all duration-500 ease-in-out text-font-secondary bg-foreground disabled:bg-primary-foreground;
  }
  
  .btn-primary:hover {
    @apply shadow-md;
    background-color: var(--foreground);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; /* To ensure it's above content */
  opacity: 1;
  transition: opacity 0.5s ease;
}

body.scrolled .navbar {
  opacity: 1;
  background-color: var(--background);
}

@keyframes grow-up {
  from {
    height: 0;
  }
  to {
    height: 90px;
  }
}

.sidebar {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  height: 35vh;
}

.sidebar::after {
  content: '';
  display: block;
  width: 4px;
  margin-top: 20px;
  background-color: transparent;
  animation: grow-up 1.5s ease-in-out forwards;
  animation-delay: 0.5s; /* Wait before starting */
  height: 20; /* Start at 0 */
}